{% extends 'base.html.twig' %}
{% block body %}
    <article >
        <h2>{{article.title}}</h2>
        <div class="metadata">ecrit {{article.createAt | date('d/m/Y') }} à {{article.createAt | date('H:i') }}</div>
        <div class="content">
            <img src="{{article.image}}"  alt="">
            {{article.content | raw }}
            <a href="{{path('blog')}}" class="btn btn-primary"> lire la suite</a>
        
        </div>
    </article>
{% endblock %}